h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
  text-align: center;
}
h6 {
  text-align: center;
}
body {
    background-color:#df9fbe;
}
img {
  margin: 5px 0px 5px 30px;
  border-radius: 8%;

}
